.app-header {
  height: 222px;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header__title,
.app-header__subtitle {
  font-weight: 400;
  line-height: 1;
}

.app-header__title {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -0.25px;
  color: var(--color-text-secondary);
}

.app-header__subtitle {
  margin: 10px 0 40px;
  font-size: 32px;
  color: var(--color-text-primary);
}
