.app-filters {
  height: 72px;
  padding: 16px 0 15px;
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  justify-content: space-between;
}

.app-filters > div {
  display: inline-flex;
}

.app-filters > div:first-child {
  flex-direction: column;
  justify-content: center;
}

.app-filters > div:last-child {
  align-items: center;
}

.app-filters__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.05px;
  color: var(--color-text-primary);
}

.app-filters__summary {
  margin-top: 4px;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: var(--color-text-secondary);
}

.app-filters .dropdown + .dropdown {
  margin-left: 4px;
}
