.button {
  --size: 30px;
  --background-color: var(--color-brand);
  --text-color: var(--color-text-primary);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  align-items: center;
  height: var(--size);
  padding: 0 17px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.button:focus {
  outline: 0;
}

.button:hover:not(.button--fav),
.button:focus:not(.button--fav) {
  --background-color: var(--color-brand-hovered);
}

.button:disabled,
.button--disabled {
  --text-color: var(--color-text-tertiary);
  pointer-events: none;
  filter: grayscale(100%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button--full-width {
  width: 100%;
}

.button--fav {
  --background-color: var(--color-fav-button-background);
  --text-color: var(--color-fav-button-icon);

  width: var(--size);
  padding: 0;
  justify-content: center;
}

.button--fav:hover,
.button--fav:focus,
.button--fav-active {
  --text-color: var(--color-brand);
}
