.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__anchor {
  width: 140px;
  padding-right: 6px;
  justify-content: space-between;
}

.dropdown--open .dropdown__anchor {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown__chevron {
  transition: transform 0.1s ease-in-out;
}

.dropdown--open .dropdown__chevron {
  transform: rotate(180deg);
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  width: 212px;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s ease, opacity 0.16s ease-in-out;
}

.dropdown--left .dropdown__menu {
  left: 0;
  border-top-left-radius: 0;
}

.dropdown--right .dropdown__menu {
  right: 0;
  border-top-right-radius: 0;
}

.dropdown--open .dropdown__menu {
  opacity: 1;
  visibility: visible;
}

.dropdown__menu-button {
  border-radius: 0;
}
