html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.app-bar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-appbar-background);
}

.app-bar__logo {
  height: 60px;
  width: auto;
}

.app {
  width: 900px;
  margin: 0 auto 32px;
}

.app-main {
  padding-top: 20px;
}

.app-message {
  text-align: center;
}

.app-message--error {
  color: var(--color-error);
}

.icons-stack {
  display: none;
}

.material-icon {
  fill: currentColor;
}
