.movies-list {
  list-style: none;
  padding: 0;
}

.movies-list__item {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--color-movie-background);
}

.movies-list__item + .movies-list__item {
  margin-top: 10px;
}

.movie {
  display: grid;
  min-height: 144px;
  grid-template-columns: 100px 1fr 219px;
  grid-template-areas: 'poster info actions';
}

.movie__poster {
  grid-area: poster;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.movie__rating {
  --size: 30px;
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-flex;
  width: var(--size);
  height: var(--size);
  font-size: 10px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-rating-background);
}

.movie__info {
  grid-area: info;
  padding: 24px 22px;
}

.movie__title {
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.95px;
}

.movie__year {
  color: var(--color-text-secondary);
}

.movie__overview {
  margin-top: 12px;
  font-size: 10px;
  line-height: 1.5;
  color: var(--color-text-secondary);
}

.movie__actions {
  grid-area: actions;
  margin: 32px 0;
  display: flex;
  border-left: 1px solid var(--color-divider);
  justify-content: center;
  align-items: center;
}

.movie__actions > * + * {
  margin-left: 8px;
}
