.search-field {
  position: relative;
  overflow: hidden;
  display: inline-flex; /* TODO: check if it really needed */
  height: 56px;
  width: 420px;
  padding: 0 56px 0 20px;
  border: 1px solid var(--color-textfield-border);
  border-radius: 28px;
  background-color: var(--color-white);
  color: #081c24; /* TODO: move this color to variables */
}

.search-field__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  caret-color: var(--color-brand);
}

.search-field__input:focus {
  outline: 0;
}

.search-field__input::placeholder {
  color: var(--color-textfield-placeholder);
}

.search-field__input::-webkit-search-cancel-button {
  display: none;
}

.search-field__icon {
  position: absolute;
  top: 16px;
  right: 20px;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.05s ease, opacity 0.1s ease-in-out;
}

.search-field__icon-clear {
  cursor: pointer;
}

/* we need to use ":placeholder-shown" state, because inputs always ":empty" */
.search-field__input:placeholder-shown ~ .search-field__icon-clear {
  opacity: 0;
  visibility: hidden;
}

.search-field__input:not(:placeholder-shown) ~ .search-field__icon-search {
  opacity: 0;
  visibility: hidden;
}
