:root {
  --color-white: #fff;
  --color-background: #1f2c35;
  --color-appbar-background: #081c24;
  --color-brand: #00aa60;
  --color-brand-hovered: #029352;
  --color-text-primary: var(--color-white);
  --color-text-secondary: #a9b0b4;
  --color-text-tertiary: #d4d7d9;
  --color-divider: #34424c;
  --color-textfield-placeholder: #6b777c;
  --color-textfield-border: #ebebeb;
  --color-movie-background: #25333b;
  --color-fav-button-background: #2c3941;
  --color-fav-button-icon: #515c63;
  --color-error: #cf6679;
  --color-rating-background: rgba(0, 170, 96, 0.8);
}
